@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #9f6bff, #6119cc);
}

#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #222222;
  padding: 1rem;
  border-radius: 8px;
  width: 350px;
  height: 450px;
}

.sign-in {
  color: #9f6bff;
  display: flex;
  justify-content: center;
  font-family: "SUSE Mono";
  font-size: 40px;
  margin-top: -40px;
}

.social-login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.icon-social {
  color: #fff;
  font-size: 25px;
  transition: all 0.3s ease;
}

.icon-social:hover {
  color: #9f6bff;
  transform: scale(1.2);
}

#sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  justify-content: center;
  margin-top: 20px;
}

#sign-in input {
  border-radius: 5px;
  height: 20px;
  width: 200px;
  margin-top: 20px;
  color: #fff;
  border: 2px solid #fff;;
  background-color: transparent;
  outline: none;
  padding: 5px 10px;
  transition: all 0.3s ease;
}

#sign-in input:focus {
  border-color: #9f6bff;
  box-shadow: 0 0 6px rgba(159, 107, 255, 0.6);
}

#sign-in input::placeholder {
  color: #fff;
  opacity: 0.7; 
}

input[type="password"]::-ms-reveal {
  filter: invert(1);
}

.alt-senha, .criar-conta {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
  text-align: center;
  text-decoration: none;
  font-family: "SUSE Mono";
  font-size: 13px;
  transition: all 0.2s ease;
}

.alt-senha { margin-top: 40px; }
.criar-conta{ 
  margin-top: 10px; 
  color: #9f6bff;
}

.alt-senha:hover, .criar-conta:hover {
  font-size: 16px;
}

.criar {
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-family: "SUSE Mono";
  margin-top: 60px;
  font-size: 20px;
  transition: all 0.3s ease;
  background-color: transparent;
  border: transparent;
}

.criar:hover {
  font-size: 30px;
  color: #9f6bff;
}

.error-msg {
  color: #ff4d4d;
  font-size: 12px;
  margin-top: 5px;
  display: block;
  text-align: left;
}
